# Build files
build/
cmake-build-debug/
cmake-build-release/

# Mac
.DS_Store

# Models (very large)
models/

# binaries
*.o
*.a
*.dylib
*.so

# CMake
CMakeFiles/
CMakeCache.txt

# VSCode
.vscode/

# logs
*.log
