[submodule "build/external/llama.cpp"]
	path = build/external/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
[submodule "external/llama.cpp"]
	path = external/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
